.root {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin: 1rem 0.6rem;
  color: white;
  width: 16rem;
}

.img {
  width: 15rem;
  height: 25rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
}

.year {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.title {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}
.rating {
  display: flex;
  align-items: center;
}

.svg {
  color: #FC00FF;
}